@charset "utf-8";
/* CSS Document */

html{
	font-size:62.5%;
	}
body{
	font-size:1.4rem;
	font-family:"微软雅黑",Arial;
	}
	
body,h1,h2,p,input,ul,li{
	margin:0;
	padding:0;
	}
li{
	list-style:none;}
input{
	border:none;
	outline:none;
	}
	
img{
	display:block;
	}
a{
	
	color:rgba(0,0,0,0.87);
	text-decoration:none;
	}
/*2016-06-14*/
@media (max-width:580px){
	#header_index,#header_hotline{
	background:url(../img/header_logo.png) no-repeat 40% center;
	background-size:2.2rem 2.2rem;
	}
	}
@media (max-width:520px){
	#header_index,#header_hotline{
	background:url(../img/header_logo.png) no-repeat 38.6% center;
	background-size:2.2rem 2.2rem;
	}
	}
@media (max-width:460px){
	#header_index,#header_hotline{
	background:url(../img/header_logo.png) no-repeat 37% center;
	background-size:2.2rem 2.2rem;
	}
	}
@media (max-width:420px){
	#header_index,#header_hotline{
	background:url(../img/header_logo.png) no-repeat 36% center;
	background-size:2.2rem 2.2rem;
	}
	}
@media (max-width:380px){
	#header_index,#header_hotline{
	background:url(../img/header_logo.png) no-repeat 34% center;
	background-size:2.2rem 2.2rem;
	}
	}
@media (max-width:320px){
	#header_index,#header_hotline{
	background:url(../img/header_logo.png) no-repeat 32% center;
	background-size:2.2rem 2.2rem;
	}
	}


/*header*/
#header_index,#header_code,#header_code_s,#header_num,#header_num_s,#header_page03,#header_inform_s,#header_inform_f,#header_page04,#header_me,#header_score,#header_getscore,#header_sign,#header_history,#header_history01,#header_mycard,#header_hotline,#header_share,#header_comment,#header_leave_word{
	background-color:#403e3d;
		
	border:none;
	}

#header_index img,#header_code img,#header_code_s img, #header_num img,#header_num_s img,#header_page03 img,#header_inform_s img,#header_inform_f img,#index_header img,#header_me img,#header_score img,#header_getscore img,#header_sign img,#header_history img,#header_history01 img,#header_mycard img,#header_page04 img,#header_hotline img,#header_share img,#header_comment img,#header_leave_word img{
	width:60%;
	}
	
#header_index h1,#header_code h1,#header_code_s h1, #header_num h1,#header_num_s h1,#header_page03 h1,#header_inform_s h1,#header_inform_f h1,#header_page04 h1,#header_me h1,#header_score h1,#header_getscore h1,#header_sign h1,#header_history h1,#header_history01 h1,#header_mycard h1,#header_hotline h1,#header_share h1,#header_comment h1,#header_leave_word h1{
	color:white;
	font-weight:normal;
	font-size:1.8rem;
	text-shadow:none;
		
	}
#index_header{
	background-color:#F2F2f4;
	border:none;}
#index_header h1{
	color:rgba(0,0,0,0.87);
	font-weight:normal;
	font-size:1.8rem;
	}


#header_index a,#header_code a,#header_code_s a, #header_num a,#header_num_s a,#header_inform_s a,#header_inform_f a,#index_header a,#header_me a ,#header_score a,#header_getscore a,#header_sign a,#header_history a,#header_history01 a,#header_mycard a,#header_page03 a:nth-child(1),#header_page04 a:nth-child(1),#header_hotline a,#header_share a:nth-child(1),#header_comment a,#header_leave_word a{
	background:none;
	border:none;
	outline:none;
	margin:0;
	padding:0;
	box-shadow:none;
	position:absolute;
	top:50%;
	left:1.2rem;
	margin-top:-0.9rem;
	padding:0.4rem;	
	}
#header_page03 a:nth-child(3),#header_page04 a:nth-child(3){
	background:none;
	border:none;
	outline:none;
	margin:0;
	padding:0;
	box-shadow:none;
	text-shadow:none;
	position:absolute;
	top:50%;
	right:1.2rem;
	margin-top:-0.9rem;
	padding:0.4rem;	
	color:white;
	}
#header_share a:nth-child(3){
	background:none;
	border:none;
	outline:none;
	margin:0;
	padding:0;
	box-shadow:none;
	text-shadow:none;
	position:absolute;
	top:50%;
	right:0rem;
	margin-top:-0.9rem;
	padding:0.4rem;	
	color:white;}
/*6-14*/
#content_index{
	background:url(../img/carnum.png) no-repeat center 5rem;
	background-size:12.2rem 12.2rem;}
#content_hotline{
	background:url(../img/hotline_bg.png) no-repeat center 5rem;
	background-size:12.2rem 12.2rem;}
@-moz-document url-prefix(){
	#content_index{
	background:url(../img/carnum.png) no-repeat center 6rem;
	background-size:12.2rem 12.2rem;}
}
@-moz-document url-prefix(){
	#content_hotline{
	background:url(../img/hotline_bg.png) no-repeat center 6rem;
	background-size:12.2rem 12.2rem;}
}



#content_index,#content_code_s,#content_num,#content_num_s,#content_page03,#content_inform_s,#content_me,#content_score,#content_getscore,#content_sign,#content_history,#content_history01,#content_hotline,#content_comment{
	
	padding:0;
	background-color:#F2F2F4;
	
	}
#content_share{
	
	padding:0;
	background-color:#F2F2F4;}
#content_score{
	background:white;}
#content_mycard,#content_leave_word{	
	padding:0;
	background-color:#ececec;
	}
/*index*/
#index_content{
	
	padding:0;
	background-color:#F2F2F4;
	}

/*6-14移车首页*/
#frm_carnum{
	margin-top:12rem;}








/*code*/
/*content*/
.content_code{
	background-color: rgba(0,0,0,1.00);
	margin:0;
	padding:0;
	}
#content_code .code_b{
	width:100%;
	margin:auto;
	}

#content_code .code_b{
	margin-top:4rem;
	}
	
.code_b img{
	width:60%;
	margin:auto;	
	}
.code_b #codeL{
	position:relative;
	left:50%;
	top:-20rem;
	
	}
/*.code_b #codeL{
	animation: code_sao 2s infinite ease-in-out;
	-moz-animation: code_sao 2s infinite ease-in-out;	
	-webkit-animation: code_sao 2s infinite ease-in-out;	
	-o-animation: code_sao 2s infinite ease-in-out;
	}
@keyframes code_sao {
	from{top:-400px;}
	to{top:-30px;}
	}
	@-moz-keyframes code_sao {
	from{top:-400px;}
	to{top:-30px;}
	}
	@-webkit-keyframes code_sao {
	from{top:-400px;}
	to{top:-30px;}
	}*/
	

#content_code p {
	color:#acacac;
	text-align:center;
	font-size:1.5rem;
	margin-top:2rem;
	}

#frm_ly{
	
	width:100%;
	}


	
#frm_ly #liuyan{
	width:80%;
	text-align:left;
	
	
	}

	



#confirm,#confirm1{
	width:90%;	
	margin:auto;	
	border-radius:0.6rem;
	display:block;	
	background-color:#f79c1b;
	color:white;
	border:none;
	border-radius:0.2rem;
	margin:2.6rem auto 5.4rem auto;
	text-shadow:none;
	box-shadow:none;
	font-family:"微软雅黑"，Arial;	
	}
#confirm1{
	margin-top:16rem;}


#frm_ly{
	margin-top:3rem;
	}
/*code_s*/
#content_code_s{
	height:100%;
	padding-bottom:20rem;
	}
#content_code_s p{
	font-size:1.6rem;
	color:rgba(0,0,0,0.87);
	width:90%;
	margin:0 auto;
	}
#content_code_s img{
	width:44%;
	margin:auto;
	
	}
#content_code_s #inform_code{
	margin:2.4rem auto;
	}

#footer_code_s,#footer_num_s{
	background-color:#F2F2F4;
	} 


#footer_code_s p,#footer_num_s p{	
	color:rgba(0,0,0,0.54);
	font-weight:normal;
	line-height:24px;
	font-size:1.6rem;
	text-align:center;
	width:100%;		
	}
#footer_num_s span a,#footer_index span a,#footer_hotline span a,#footer_inform_s span a{	
	font-size:1.4rem;
	color:rgba(0,0,0,0.54);		
	}
#footer_num_s{
	border:none;
	
	}

/*num*/






/*车牌号移车*/

/*search*/


#search{
	width:90%;
	margin:auto;
	overflow:hidden;
	margin-top:4rem;
	margin-bottom:0.8rem;
	
	
	}

#search .input_box{
	width:80%;	
	
	}
#search .cardress{/*闽*/	
	width:20%;	
	text-align:center;
	border-radius:4px 0 0 4px;
	background: url(../img/lit_arrow.png) 90% 2.4rem no-repeat;
	background-color:#f79c1b;
	line-height:4rem;
	font-size:1.6rem;
	color:white;
	text-shadow:none;
	}
#search a{
	text-decoration:none;
	
	}
#input{
	height:3.8rem;	
	font-size:1.6rem;
	border:1px solid #b5b5b5;	
	border-radius:0 4px 4px 0;
	border-left:none;
	width:99%;
	background:white;
	overflow:hidden;
	}
#input *{
	border:none;
	margin-top:-0.05rem;
	height:4rem;
	line-height:4rem;
	text-shadow:none;
	box-shadow:none;}
	
/*#input textarea{
	background:none;
	box-shadow:none;
	outline:none;
	border:none;
	resize:none;
	width:80%;
	height:0;
	line-height:3rem;
	border:1px red solid;
	margin-top:-0.05rem;
	}*/

.input_box *{
	float:left;
	}
.camera{
	display:block;
	width:2.4rem;
	height:4rem;
	background:url(../img/camera.png) center center no-repeat;
	
	margin-left:-3.5rem;
	
	}
#search .input_box,#search .cardress{
	float:right;
	}

/*留言+按钮*/

#num_box #liuyan{
	width:90%;
	margin:auto;
	color:rgba(0,0,0,0.87);
	font-size:1.6rem;
	background:white;
	border:1px solid #acacac;
	box-shadow:none;
	}
#liuyan{	
	display:block;
	border:none;
	margin:auto;
	background:white;
	color:white;
	font-size:1.6rem;	
	border:1px solid #acacac;
	margin-bottom:rem;
	line-height:3.2rem;
	resize:none;		
	}

/*移车index footer*/
.footer span{
	background:none;
	display:block;
	width:12rem;
	margin:auto;
	
	text-align:center;
	background: url(../img/footer_logo.png) no-repeat center left;
	background-size:2.3rem 1.8rem;
	padding-left:1rem;
	line-height:2.4rem;}
@media screen and (-webkit-min-device-pixel-ratio:0)	{
	.footer span{
	background:none;
	display:block;
	width:10rem;
	margin:auto;
	
	text-align:center;
	background: url(../img/footer_logo.png) no-repeat center left;
	background-size:2.3rem 1.8rem;
	padding-left:1rem;
	line-height:2.4rem;}
}
#footer_index,#footer_inform_s,#footer_hotline{
	border:none;
	background:#f2f2f4;
	}


#page_inform_s,body,html{
	border:none;
	}
	
#content_num_s img{
	
	width:50%;
	
	margin:auto;
	}
#content_num_s p,#content_inform_s p{
	width:80%;
	margin:2rem auto 2rem auto;
	display:block;
	font-size:1.6rem;
	
	}
#content_inform_s .time{
	margin:0;
	font-size:2rem;}
#content_num_s .cancel{
	width:90%;
	border-color:#ff7e2e;
	color:#ff7e2e;	
	margin:auto;
	box-shadow:none;
	}



#dress option{
	font-size:1.6rem;
	}	

	

#content_num_s img{
	margin-bottom:4rem;
	margin-top:3rem;
	}

#content #inform_code{
	display:block;
	width:84%;
	text-align:left;
	margin: auto;	
	}

/*车牌号移车末尾*/


/*移车请求成功*/
/*#content_inform_s p:nth-child(3){
	position:relative;
	font-size:2rem;
	left:50%;
	margin-left:-8.6rem;
	margin-top:-18%;
	margin-bottom:6rem;
	}*/
.timers{
	
	position:relative;
	}
.jindu{
	}
.time{
	position:absolute;
	bottom:24%;
	left:26%;
	}
#content_inform_s img{
	width:50%;
	max-width:20rem;
	margin:auto;
	margin-bottom:2rem;
	
	}
	
/*首页*/

.con_box{
	width:90%;
	margin:auto;
	overflow:hidden;
	margin-bottom:3rem;
	
	}

.con_box img:nth-child(2){
	width:88%;
	margin:auto;
	margin-bottom:2rem;
	clear:right;
	}
.con_box img:nth-child(3){
	width:60%;
	margin:auto;
	}
.con_box img:nth-child(4){
	width:88%;
	float:right;
	}
.number_bg{
	display:block;	
   background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(39,40,42) 46%, rgb(217,218,220) 46%, rgb(217,218,220) 49%,rgb(25,26,29) 49%,  rgb(69,75,81) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(39,40,42) 46%, rgb(217,218,220) 46%,  rgb(217,218,220) 49%,rgb(25,26,29) 49%, rgb(69,75,81) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(39,40,42) 46%, rgb(217,218,220) 46%, rgb(217,218,220) 49%,rgb(25,26,29) 49%,rgb(69,75,81) 100%);
  float:left;
  margin-right:0.4rem;
  padding: 0 0.4rem;
  border-radius:0.2rem;
  color:rgba(255,255,255,0.9);
  font-size:3.2rem;
  }
  
.wen{
	float:left;
	margin-top:2.6rem;
	font-size:1.2rem;
	}
	
.data_num{
	overflow:hidden;
	margin-left:1rem;
	color:rgba(0,0,0,0.54);
	vertical-align:text-bottom;
	} 
.new_data > p{
	line-height:2.4rem;}
/*.new_data a{
	color:#ff7e2e;
	text-align:right;
	display:block;
	margin-top:1rem;
	}
.new_data a:visited{
	color:#ff7e2e;}
.new_data a:hover{
	color:#ff7e2e;
	}*/
.new_data{
	margin-bottom:2rem;
	width:90%;
	margin:auto;}

/*个人中心*/

.me_message{
	width:100%;
	background:url(../img/me_bg.png);
	background-size:100% 100%;
	position:relative;
	padding-bottom:3.6rem;
	
	}
.me_photo{
	width:8rem;
	height:8rem;
	padding:0.1rem;
	border-radius:50%;
  background-image: -moz-linear-gradient( 145deg, rgb(255,255,255) 50%, rgba(255,255,255,0.4) 50%);
  background-image: -webkit-linear-gradient( 145deg, rgb(255,255,255) 50%, rgba(255,255,255,0.4) 50%);
  background-image: -ms-linear-gradient( 145deg, rgb(255,255,255) 50%, rgba(255,255,255,0.4) 50%);
  
  position:relative;
  left:1.4rem;
  top:2rem;
	}
.photo{
	overflow:hidden;
	border-radius:50%;
	width:7.5rem;
	height:7.5rem;
	margin:auto;
	margin-top:0.25rem;
	}
.photo img{
	width:100%;
	height:100%;
	margin-left:-0.1rem;
	}
.me_photo > a{
	padding:0.3rem;
	width:1.4rem;
	height:1.4rem;	
	border-radius:50%;
	display:block;
	background:white;
	font-size:1rem;
	color:#ff7e2e;
	position:absolute;
	right:0.6rem;
	top:0.6rem;
	line-height:1.5rem;
	text-align:center;	
	}	
.myname{
	text-shadow:none;
	position: absolute;
	left:10rem;
	top:2rem;
	
	color:white;
	}
.myname p{
	font-size:1.2rem;		
	}
.myname p:nth-child(1){	
	font-size:1.6rem;
	line-height:3.8rem;	
	}
.myname .level{
	width:110%;
	height:0.4rem;
	border-radius:0.3rem;
	margin:0.6rem 0;
	background-image: -moz-linear-gradient( 0deg, rgb(255,255,255) 37%,rgba(255,255,255,0.4) 37%);
  background-image: -webkit-linear-gradient(0deg,rgb(255,255,255) 37%,rgba(255,255,255,0.4) 37%);
  background-image: -ms-linear-gradient( 0deg,  rgb(255,255,255) 37%,rgba(255,255,255,0.4) 37%);
	}
@media screen and (max-width : 320px){
.myname .level{		
		width:80%;}
	
	}
.move_fun{
	padding:0;		
		}
.move_fun a{
	text-align:left;
	font-weight:normal;
	color:rgba(0,0,0,0.87);	
	background:url(../img/btn_arrow.png) no-repeat 94% center;
	font-size:1.6rem;
	padding-left:8%;	
	}
#move_fun li a{
	color:rgba(0,0,0,0.87);
	text-shadow:none;
	font-weight:normal;
	margin-bottom:1px;
	border:none;
	}
#move_fun li{
	background:#fcfcfd;
	}

#footer_me .footer_nav ul li a,#footer_index .bgn,#footer_share .footer_nav ul li a{
	background:none;
	border:none;
	text-shadow:none;
	font-weight:normal;
	color:rgba(0,0,0,0.87);}
#footer_me,#footer_share{
	border:none;
	}
#footer_share .footer_nav ul li a{
	}
#footer_share{
	background:none;
	margin:0;
	
	}
#footer_share .footer_nav{
	background:none;}


/**/
#content_getscore ul li{
	background:;}

h2.peo_data{
	line-height:3.2rem;
	margin:auto;
	font-family:"微软雅黑";
	font-size:1.6rem;
	padding-left:1rem;
	color:rgba(0,0,0,0.54);
}
#content_me #myscore a{
	border:none;
	background-color:white;
	height:3.4rem;
	box-shadow:none;
	text-shadow:none;		
	}
#myscore .score{
	background: url(../img/score.png) no-repeat 1.7rem center;
	background-size:3.6rem 3.6rem;}
#myscore .baobei{
	background: url(../img/baobei.png) no-repeat 1.7rem center;
	background-size:3.6rem 3.6rem;}
#myscore p{
	color:rgba(0,0,0,0.87);
	padding-left:4.8rem;
	text-align:left;
	font-weight: normal;
	font-size:1.6rem;}
#myscore .score p:nth-child(1){
	line-height:2.2rem;}
#myscore p:nth-child(2){
	color:rgba(0,0,0,0.54);
	font-size:1.2rem;}


	
/*footer*/
.footer_nav ul li{
	background:white;
	float:left;
	width:33.33%;
	}
.footer_nav ul{
	overflow:hidden;
	width:100%;
	}
.footer_nav ul li a span{
	display:block;	
	margin:auto;
	text-align:center;
	}

.footer_nav ul li a span:nth-child(1){
	width:2.3rem;
	height:2.3rem;
	margin:0rem auto ;
	}
@media screen and (-webkit-min-device-pixel-ratio:0)	{/*chrome*/
		.footer_nav ul li a span:nth-child(1){
	width:2.1rem;
	height:2.1rem;
	background:url(../img/footer_i_blur.png) no-repeat;
	margin:0rem auto ;
	}		
				
}
.footer_nav ul li:nth-child(1) a .blur{
	background:url(../img/footer_person_b.png) no-repeat;
	background-position: center center;
	}
.footer_nav ul li:nth-child(1) a .focus{
	background:url(../img/footer_person_f.png) no-repeat;
	background-position: center center;
	
	}
.footer_nav ul li:nth-child(1) a .focus + span{
	color:#ff7e2e;}

.footer_nav ul li:nth-child(2) a .blur{
	background:url(../img/footer_car_b.png) no-repeat;
	background-position: center center;
	}
.footer_nav ul li:nth-child(2) a .focus{
	background:url(../img/footer_car_f.png) no-repeat;
	background-position: center center;
	
	}
.footer_nav ul li:nth-child(2) a .focus + span{
	color:#ff7e2e;}
.footer_nav ul li:nth-child(3) a .blur{
	background:url(../img/footer_camera_b.png) no-repeat;
	background-position: center center;
	}
.footer_nav ul li:nth-child(3) a .focus{
	background:url(../img/footer_camera_f.png) no-repeat;
	background-position: center center;
	
	}
.footer_nav ul li:nth-child(3) a .focus + span{
	color:#ff7e2e;}

	
@-moz-document url-prefix(){/*firefox*/
	
.footer_nav ul li a .person{
	background-position: center 0.2rem;
	}
.footer_nav ul li a .serve{
	
	background-position: center -2.2rem;
	}
.footer_nav ul li a .share{
	background-position: center -4.9rem;
	
	}			 
}
@media screen and (-webkit-min-device-pixel-ratio:0)	{/*chrome*/
	.footer_nav ul li a .person{
	background-position: center 0.2rem;
	}
.footer_nav ul li a .serve{
	
	background-position: center -1.9rem;
	}
.footer_nav ul li a .share{
	background-position: center -4.1rem;
	
	}				
}

/*积分余额*/
.score_yu{
	width:60%;
	height:0;
	border-radius:50%;
	padding-bottom:60%;
	border:solid 0.6rem #ff962e;
	text-align:center;
	margin:2rem auto;
	position:relative;

	}
.score_yu p{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	font-size:2rem;
	color:#ff962e;
	}
.score_yu p span{
	font-size:5.4rem;
	}

#content_score a{
	width:80%;
	margin:2rem auto;
	border:0.1rem solid #ff962e;
	color:#ff962e;
	}
.score_t{
	background-color:#ececec;
	line-height:3.2rem;
	padding-left:1.8rem;
	font-size:1.6rem;
	}
.score_con{
	width:80%;
	margin:auto;
	
	font-size:1.5rem;
	border-collapse:collapse;
	}
.score_con tr td:nth-child(1) span{
	font-size:1.2rem;
	color:rgba(0,0,0,0.54);
	}
	
.score_con tr td:nth-child(2) span{
	color:#ff962e;
	}
.score_con tr td:nth-child(3){
	text-align:right;
	}
.score_con tr{
	height:5rem;
	border-bottom:1px rgba(0,0,0,0.02) solid;}
	
/*获取积分*/
#content_getscore .move_fun,#content_me .move_fun{
	margin:0;
	}
#content_getscore .move_fun li a,#content_me .move_fun li a,#content_me .myscore a{	
	background-color:#fcfcfd;
	}

.ui-icon-none:after{
	display:none;}
.fun_nav li a img{
	position:absolute;
	left:1.2rem;
	top:50%;
	transform:translate(0,-50%);}
.fun_nav li{
	position:relative;
	
	}
.fun_nav li a{
	height:3.2rem;
	line-height:3.2rem;
	padding-left:4rem;
	border:none;
	font-size:2rem;
	border-bottom:0.1rem solid #f2f2f4;
	}
.fun_nav li a:hover{
	border-bottom:0.1rem solid #f2f2f4;
	}
#content_getscore .fun_nav li a:active{
	
	border:none;}
/*我的车辆*/

#mycar ul li{
	padding-left:2.6rem;
	height:3.2rem;
	background:white;
	border:none;	
	}
#mycar ul li{
	}
#mycar ul li *{
	float:left;
	line-height:3.2rem;
	font-size:1.6rem;
	
	}
#mycar ul li label{
	margin-right:1rem;
	}
#mycar ul li textarea{
	
	width:60%;
	resize:none;
	background:none;
	border-radius:0;
	border:none;
	margin:0;
	padding:0;
	box-shadow:none;}
#mycar ul li #pnum{
	width:100%;
	resize:none;
	background:none;
	border-radius:0;
	padding-left:1rem;	
	box-shadow:none;
	}
#mycar a{
	padding:0.01rem;}
#mycar a button{
	width:90%;	
	background:#ff7e2e;
	color:white;
	margin:1rem auto;	
	border:none;
	
	}
	
.carID span{
	display:block;
	padding: 0 1.6rem 0 0.5rem;
	background:url(../img/lit_angel.png) no-repeat 2.3rem 1.7rem;
	
}
.carID span a{	
	color:rgba(0,0,0,0.87);	
	}
#carID a{
	color:rgba(0,0,0,0.87);
	text-shadow:none;
	font-weight:normal;
	}

	/*
.carID span a:link{
	color:rgba(0,0,0,0.87);
	}
.carID span a:visited{
	color:rgba{0,0,0,0.87;}



.carID span a:hover{
	color:rgba(0,0,0,0.87);
	}
.carID span a:active{
	color:rgba(0,0,0,0.87);
	}*/
/*移车记录*/
#content_history table,#content_history01 table{
	border-collapse:collapse;
	width:100%;
	text-align:center;
	background:white;
	margin-top:0.8rem;	
	}
#content_history table tr .col_1,#content_history01 table tr .col_1{
	font-size:4.4rem;
	width:26%;
	
	}
#content_history table tr .col_1 span,#content_history01 table tr .col_1 span{
	font-size:1.4rem;
	}
#content_history tr:not(:last-child),#content_history01 tr:not(:last-child){
	border-bottom:1px rgba(0,0,0,0.2) solid;}
#content_history tr,#content_history01 tr{
	height:8rem;}
#movecar1,#movecar2,#com02,#com03{
	background:white;
	border:none;
	border-bottom:0.2rem #e2e2e4 solid;
	color:#737373;
	text-shadow:none;
	box-shadow:none;
	font-size:1.5rem;
	}

#movecar,#movecar3,#com01,#com04{
	background:white;
	border:none;
	border-bottom:0.2rem #f79c1b solid;
	color:#f79c1b;
	text-shadow:none;
	color:#ff7e2e;
	box-shadow:none;
	font-size:1.5rem;
	}

.col_2{
	width:28%;}
.col_2 span{
	display:block;	
	font-size:1.2rem;
	color:rgba(0,0,0,0.54);
	text-align:right;
	line-height:2rem;
	}
.col_3{
	font-size:1.2rem;
	text-align:left;
	padding-top:0.2rem;
	width:25%;
	line-height:2rem;}

.col_4{
	font-size:1.2rem;
	color:#ff962e;
	}
.competed{
	color:rgba(0,0,0,0.54);
	font-size:1.2rem;
	}
.col_4{
	padding-top:0.4rem;
	display: compact;
	}
/*我的移车名片*/

.qr_code{
	width:100%;
	padding-bottom:100%;
	height:0;
	position:relative;
	
	background:url(../img/code_bg.png) no-repeat center center;
	background-size:82% 77%;}
.qr_code img{
	width:40%;
	margin:auto;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-51%,-52.5%);}

#content_mycard button{
	width:90%;
	margin:auto;
	color:white;
	background:#ff7e2e;
	border:none;
	margin-top:4rem;
	font-weight:bold;
	text-shadow:none;}

/*select*/
#hh ul,#hh li{
	margin:0;
	padding:0;}
a{
	text-decoration:none;
	color:#646464;}
li{
	list-style:none;}

.child{
	width:120px;
	
	overflow: visible;
	position:relative;
	top:16px;
	left:20px;
	z-index:2;
	background:none;
	
	border-radius:4px;
	}
.child ul li{
	border:red solid 1px;}
#content_sign .lis{
	padding:0;	
	text-align:center;
	line-height:36px;
	background:;}
#content_sign .lis:hover{
	color:white;
	background:#ff7e2e;
	}
#content_sign .lis:not(:last-child){
	border-bottom:1px solid #d0d0d4;
	}
/*page03*/
#content_page03 #dress_dig {	
	color:rgba(0,0,0,0.54);
	}
/*6-14*/
.flink{
	
	color:black;
	opacity:0.54;
	font-size:1.4rem;}
#content_page03 .ui-listview{
	margin:0;}
.gc0{
	color:#f79c1b;}
.gc05{
	color:rgba(0,0,0,0.5);}
.fs18{
	font-size:1.8rem;}
.fs16{
	font-size:1.6rem;}
.fm0{
	font-family:"Helvetica-condensed-black-se";}
.cen{
	text-align:center;}
.ftlogo{
	background:url(../img/footer_logo.png) no-repeat left center;
	background-size:2.5rem 2rem;}
#footer_map{
	background:#f2f2f4;
	margin-bottom:1rem;}
#footer_map .gcb{
	color:rgba(0,0,0,0.5);}	
#footer_map .gcb:hover{
	color:#f79c1b;}

.mo{
	margin:auto;}
.ftw{
	width:17.4rem;
	padding-left:3rem;

	}
@media screen and (-webkit-min-device-pixel-ratio:0)	{
	.ftw{
	width:;
	padding-left:2.1rem;
	
	}
	}

.mew{
	width:10rem;
	}
.lh36{
	line-height:3.6rem;}
.footer{
	padding-bottom:1rem;}
#content_getscore ul li a{
	text-shadow:none;
	color:black;
	box-shadow:none;	
	border:none;}
#content_getscore ul li a:hover{
	color:white;
	background-color:rgba(247,156,27,0.4);}
#content_score a.btn_sco{
	background-color:white;}
#content_score a.btn_sco:hover{
	background-color:rgba(247,156,27,0.4);
	color:white;
	text-shadow:none;}
.photo_box{
		 width:45.8%;
		 margin-left:2.8%;
		 margin-top:2.8%;
		 float:left;
	}
.photo_box .photo_s{
	width:100%;
	margin-bottom:2.8%;
	background:white;	
	}
	
.photo_box .photo_s:nth-child(3),.photo_box .photo_s:nth-child(4){
	}
.photo_box .photo_s img{
	width:100%;}
.hp1{
	float:left;
	padding:1rem 0 1rem 2.8rem;
	margin-left:1rem;
	background:url(../img/head_p01.png) no-repeat left center;
	background-size:2.4rem 2.4rem;
	
	}
.ht1{
	float:right;
	padding:1rem 0 1rem 1.8rem;
	margin-right:1rem;
	background:url(../img/heart_f.png) no-repeat left center;
	background-size:1.2rem 1.1rem;
	}
.info1{
	padding:1rem;}
#content_inform_s a button{
	width:90%;
	margin:auto;}
.comment01{
	text-align:center;
	margin-top:2rem;
	font-size:1.6rem;
	color:#484848;}
.star{
	width:68%;
	margin:2rem auto;}
.star img{
	width:10%;
	min-width:3.4rem;
	display:inline;}
.atime,.choose{
	line-height:3.2rem;}
#ok,#cancel{
	background:#f79c1b;
	border:none;
	box-shadow:none;
	text-shadow:none;}
.list_time > li:not(.first){
	border-bottom:#e0e0e0 solid 1px;
	line-height:4.8rem;
	font-size:1.7rem;
	color:#9a9a9a;}
.list_time > li:fitst-child,.list_time > last-child{
	font-size:1.2rem;}

#com_btn{
	width:90%;
	margin:2rem auto;
	background:#f79c1b;
	border:none;}
.lword{
	width:90%;
	margin:1.8rem auto;}
textarea{
	display:block;}
#lw *,#lw{
	background:none;
	box-shadow:none;
	border:none;
	margin:0;
	padding:0;
	resize:none;
	background:white;
	width:100%;
	display:block;
	height:20rem;}
